.section-3{
    margin: 100px auto;
    text-align: center;
}
.section-3 .top-content h2{
  font-size: 40px;
  margin-bottom: 20px;
}
.section-3 .top-content p{
    margin-bottom: 50px;
}
.section-3 .bottom-content .imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}
.section-3 .bottom-content .imgs img{
    width: 120px;
}

@media screen and (max-width : 480px) { 
    .section-3 .top-content h2{
      font-size: 35px;
    }
    .section-3 .top-content p{
        margin-bottom: 50px;
        max-width: 90%;
        margin-left: 15px;
    }
    .section-3 .bottom-content .imgs{
        flex-wrap: wrap;
        gap: 50px;
    
    }
    .section-3 .bottom-content .imgs img{
        width: 120px;
    }
    
}